<% provide(:title, "Calculadora de cozinha") %>

<div class="page-header">
 <h1>Calculadora de cozinha</h1>
 <div class="clearfix"></div>
</div>

<%= form_for @food, :as => :cook_calculator, :url => foods_cook_calculator_path do |form| %>
<div class="row form-group flex-v-center">
  <div class="col-md-12">
    <div class="row form-group flex-v-center">
    	<div class="col-xs-2 col-sm-2">
    		<%= form.label :time_cook, "Tempo de preparo" %> 
    	</div>
    	<div class="col-xs-2">
		  	<%= form.number_field :time_cook %> minutos
		  </div>
	  </div>
	  <div class="row form-group flex-v-center">
	  	<div class="col-xs-2 col-sm-2">
	    	<%= form.label :time_cook, "Tempo ampulheta 1" %>
	    </div>
	    <div class="col-xs-2 col-sm-2">
		  	<%= form.number_field :time_hourglass_one %> minutos
		  </div>
	  </div>
	  <div class="row form-group flex-v-center">
	  	<div class="col-xs-2 col-sm-2">
	  		<%= form.label :time_cook, "Tempo ampulheta 2" %>
	  	</div>
	  	<div class="col-xs-2 col-sm-2">
		  	<%= form.number_field :time_hourglass_two %> minutos
		  </div>
	  </div>
	  <hr/>
	  <div class="row form-group flex-v-center">
	  	<div class="col-sm-4">
	  		<%= form.label :time_cook, "Tempo máximo de preparo:" %>
	  		<%= @food.result_calculator %> 
	  		<% if @food.result_calculator %> minutos <% end %>
	  	</div>
	  </div>
	</div>
</div>
	<%= form.submit 'Calcular', class: 'btn btn-primary' %>
<% end  %>